/* RESET */
*{

  margin:0;
  padding:0;
  box-sizing:border-box;

  font-family:Arial, Helvetica, sans-serif;

}


/*BODY*/
body{

  background:#000;

  color:white;

  overflow-x:hidden;

}



/*HEADER*/


header{

  width:100%;

  position:fixed;

  top:0;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:20px 60px;

  z-index:1000;

  background:linear-gradient(
      to bottom,
      rgba(0,0,0,0.9),
      transparent
  );

}


/* LOGO */
.logo{

  color:#ff7b00;

  font-size:32px;

  font-weight:bold;

}


/* MENU */
nav{

  display:flex;

  gap:30px;

}


/* LINKS */
nav a{

  color:white;

  text-decoration:none;

  transition:0.3s;

}


/* HOVER */
nav a:hover{

  color:#ff7b00;

}


/* BOTÃO LOGIN */
.loginBtn{

  background:#ff7b00;

  border:none;

  color:white;

  padding:12px 24px;

  border-radius:5px;

  cursor:pointer;

  font-weight:bold;

}



/* fundo */
<<<<<<< HEAD
.fundo {
  width: 100%;
  height: 100vh;
  background-image: url("#vazio");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
=======


.fundo{

  width:100%;

  height:100vh;

  background-image:url("#vazio");

  background-size:cover;

  background-position:center;

  position:relative;

  display:flex;

  align-items:center;

  padding-left:80px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}

/* OVERLAY */
<<<<<<< HEAD
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
=======
.overlay{

  position:absolute;

  width:100%;

  height:100%;

  background:rgba(0,0,0,0.7);

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* CONTEÚDO */
<<<<<<< HEAD
.ContentText {
  position: relative;
  z-index: 2;
  max-width: 700px;
=======
.ContentText{

  position:relative;

  z-index:2;

  max-width:700px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* TÍTULO */
<<<<<<< HEAD
.ContentText h1 {
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 20px;
=======
.ContentText h1{

  font-size:70px;

  line-height:80px;

  margin-bottom:20px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* TEXTO */
<<<<<<< HEAD
.ContentText p {
  font-size: 22px;
  color: #d1d1d1;
  margin-bottom: 40px;
=======
.ContentText p{

  font-size:22px;

  color:#d1d1d1;

  margin-bottom:40px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* BOTÕES */
<<<<<<< HEAD
.buttons {
  display: flex;
  gap: 20px;
=======
.buttons{

  display:flex;

  gap:20px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* BOTÕES */
<<<<<<< HEAD
.premiumBtn, .exploreBtn {
  padding: 18px 35px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
=======
.premiumBtn,
.exploreBtn{

  padding:18px 35px;

  border:none;

  border-radius:6px;

  cursor:pointer;

  font-size:18px;

  font-weight:bold;

  transition:0.3s;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}

/* PREMIUM */
<<<<<<< HEAD
.premiumBtn {
  background: #ff7b00;
  color: white;
=======
.premiumBtn{

  background:#ff7b00;

  color:white;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}

/* EXPLORAR */
<<<<<<< HEAD
.exploreBtn {
  background: transparent;
  border: 2px solid white;
  color: white;
=======
.exploreBtn{

  background:transparent;

  border:2px solid white;

  color:white;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}

/* HOVER */
.premiumBtn:hover,
<<<<<<< HEAD
.exploreBtn:hover {
  transform: scale(1.05);
=======
.exploreBtn:hover{

  transform:scale(1.05);

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* cards */
<<<<<<< HEAD
.SectionCard {
  padding: 80px;
=======


.SectionCard{

  padding:80px;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* TÍTULO */
.SectionCard h2{

  font-size:40px;

  margin-bottom:40px;

}


/* CONTAINER */
.ContainerCard{

  display:flex;

  gap:30px;

  flex-wrap:wrap;

}


/* CARD */
.Card{

  width:260px;

  transition:0.3s;

  cursor:pointer;

}


/* IMAGEM */
.Card img{

  width:100%;

  height:370px;

  object-fit:cover;

  border-radius:10px;

}


/* HOVER */
.Card:hover{

  transform:translateY(-10px);

}


/* TÍTULO */
.Card h3{

  margin-top:12px;

}



/* PLANOS VIP */


.plansSection{

  padding:100px 80px;

  background:rgba(0, 0, 0, 0);

}


/* TÍTULO */
.plansSection h2{

  text-align:center;

  font-size:45px;

  margin-bottom:40px;

}


/* BOTÕES */
.toggleContainer{

  width:250px;

  margin:auto;

  background:#1f1f1f;

  border-radius:50px;

  padding:5px;

  display:flex;

  margin-bottom:60px;

}


/* BOTÕES */
.toggleContainer button{

  flex:1;

  border:none;

  padding:15px;

  border-radius:50px;

  cursor:pointer;

  background:transparent;

  color:white;

  font-weight:bold;

  transition:0.3s;

}


/* ATIVO */
<<<<<<< HEAD
.activePlan {
  background: #ff7b00 !important;
=======
.activePlan{

  background:#ff7b00 !important;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* CONTAINER */
<<<<<<< HEAD
.plansContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
=======
.plansContainer{

  display:flex;

  justify-content:center;

  gap:40px;

  flex-wrap:wrap;

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* CARD */
<<<<<<< HEAD
.planCard {
  width: 320px;
  background: #1b1b1b;
  border-radius: 20px;
  padding: 40px;
  transition: 0.3s;
=======
.planCard{

  width:320px;

  background:#1b1b1b;

  border-radius:20px;

  padding:40px;

  transition:0.3s;
>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208

  display: flex;
  flex-direction: column;
  min-height: 550px;
}


.planCard button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 8px;
  background: #ff7b00;
  color: white;
  font-weight: bold;
  cursor: pointer;

  /* ISSO JOGA O BOTÃO PARA BAIXO */
  margin-top: auto; 
}


/* CARD PRINCIPAL */
<<<<<<< HEAD
.featured {
  border: 2px solid #ff7b00;
  transform: scale(1.05);
=======
.featured{

  border:2px solid #ff7b00;

  transform:scale(1.05);

>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208
}


/* HOVER */
.planCard:hover{

  transform:translateY(-10px);

}


/* PREÇO */
.planCard h1{

  color:#ff7b00;

  font-size:50px;

  margin:20px 0;

}

.badge-anual {
  color: #ff7b00;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}


/* TEXTO */
.planCard p{

  color:#bcbcbc;

  margin-bottom:30px;

}


/* LISTA */
.planCard ul{

  list-style:none;

  margin-bottom:30px;

}


/* ITEM */
.planCard li{

  margin-bottom:15px;

}


/* BOTÃO */
.planCard button{

  width:100%;

  padding:16px;

  border:none;

  border-radius:8px;

  background:#ff7b00;

  color:white;

  font-weight:bold;

<<<<<<< HEAD
  cursor: pointer;

}


@media (prefers-color-scheme: dark) {

  body {
    background: #b9b8ca;
    background: linear-gradient(90deg,
        rgb(158, 158, 165) 0%,
        rgb(197, 197, 206) 35%,
        rgb(174, 181, 184) 100%);
  }
=======
  cursor:pointer;
>>>>>>> 2f01485aeee5bb988209b01d407ca1d0e1685208

}