@media (prefers-color-scheme: dark) {
  body {
    background: #020024;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 64, 1) 35%,
      rgba(0, 18, 23, 1) 100%
    );
  }

  .box-pai {
    background: #302f2f;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .voltar {
    color: var(--color-text-white);
    text-decoration: none;
    cursor: pointer;
  }
}