@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

:root{
    --color-white: #fff;
    --color-black: #000;
    --color-dark-background: rgb(53, 52, 52);
    --color-white-background:
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;;
    flex-direction: column;
    background-color: #f0f0f0be;
    transition: .5s;
    font-family: Arial, Helvetica, sans-serif   ;
}


.pai-box{
    padding-top: 10px;
    padding-left: 5px;
}

.trilho{
    width: 80.5px;
    height: 30.5px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trilho .indicador{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 5px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-lua{
    width: 33px;
    height: 33px;
}

.trilho.dark{
    background-color: #c3c3c3;
}

body.dark {
    background-color: rgb(53, 52, 52);
}

.trilho.dark .indicador{
    left: 45px;
    background-color: #fff;
}
 /*Parte da caixa de login*/

 .box-login {
    background-color: #E05454;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#img-escrito{
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-top: -2vw;
}

.meizinho-joia{
     position: relative;
     margin-left: -46vh;
     margin-top: -14vh;
     height: 200px;
}

.box-input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4vh;
    gap: 1vh;      
}

.box-input h1{
    display: flex;
    justify-content: center;
    font-family: "Rammetto One", sans-serif;
    padding: 20px;
    font-size: 40px;
    color: white;
}

.box-input input {     
    padding: 10px;
    width: 40vh;
    box-sizing: border-box; 
    border-radius: 20px;  
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    outline: none;
}

.links{
    display: flex;
    gap: 10px;
    padding-top: 2vh;
}

.links a{   
    text-decoration: none;
    color: blue;
}