.button_home {
  padding: 2vh; 
  border-radius: 5vh; 
  border: 0; 
  background-color: #fa7f2f; 
  color: white; 
  font-size: 20px;
}

.profile_img {
  width: 200px; 
  margin-right: 5vh; 
  border-radius: 100%;
}

.Profile {
  display: flex; 
  align-items: center;
}

.user_name {
  color: #fa7f2f; 
  font-size: 8vh;
}

.ola {
  font-size: 5vh;
}

.user_name {
  color: #fa7f2f !important; /* Força a cor laranja sobre outras regras */
}

.banner-img {
  width: 100%;
  height: auto;
}